@charset "UTF-8";

* {
	font-family:"Trebuchet MS", sans-serif;
	box-sizing: border-box;
}

body {
	margin-top:30px;
}

td {
	vertical-align: inherit;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
	/* height: 800px;*/
}
.left {
	width: 25%;
}
.right {
	width: 75%;
}

/* Clear floats after the columns */
.row:after{
	content: "";
	display: table;
	clear: both;
}
