<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:text="Update +${player.name}+ player"></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
	</head>
	<body>
		<!-- Nav -->
		<div class="w3-top">
			<div class="w3-row w3-large w3-light-grey">
				<div class="w3-col s2">
					<a href="/player/show/all" class="w3-button w3-block">Players</a>
				</div>
				<div class="w3-col s2">
					<a href="/player/show/scores" class="w3-button w3-block">Scores</a>
				</div>
				<div class="w3-col s2">
					<a href="/song/show/all" class="w3-button w3-block">Songs</a>
				</div>
				<div class="w3-col s3">
					<a href="/extra/restore" class="w3-button w3-block">Restore DB</a>
				</div>
			</div>
		</div>
		<!-- Body -->
		<div class="w3-responsive">
			<div>
				<h1>Player <span th:text="${player.name}"></span></h1>
			</div>
			<div class="column">
				<form th:action="@{/player/addscore(id=${player.id})}" method="post">
					<p>Score to Add</p>
					<p>
						<label class="w3-text-gray" for="nameSong">Name of song</label>
						<input class="w3-input w3-border w3-light-grey" type="text" name="nameSong" value="Tear">
						<input hidden="hidden" type="number" name="timesPlayed" placeholder="0" min="0" readonly="readonly" value="0">
					</p>
					<p>
						<label class="w3-text-gray" for="scoreForDifficultyA">Easy</label>
						<input class="w3-input w3-border w3-light-grey" type="number" name="scoreForDifficultyA" placeholder="0" min="0" value="0">
					</p>
					<p>
						<label class="w3-text-gray" for="scoreForDifficultyB">Normal</label>
						<input class="w3-input w3-border w3-light-grey" type="number" name="scoreForDifficultyB" placeholder="0" min="0" value="0">
					</p>
					<p>
						<label class="w3-text-gray" for="scoreForDifficultyC">Hard</label>
						<input class="w3-input w3-border w3-light-grey" type="number" name="scoreForDifficultyC" placeholder="0" min="0" value="0">
					</p>
					<p>
						<label class="w3-text-gray" for="scoreForDifficultyD">Extreme</label>
						<input class="w3-input w3-border w3-light-grey" type="number" name="scoreForDifficultyD" placeholder="0" min="0" value="0">
					</p>
					<p>
						<button class="w3-btn w3-blue">Add</button>
					</p>
				</form>
			</div>
		</div>
	</body>
	<footer>
	
	</footer>
</html>