<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>All songs</title>
		<link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
	</head>
	<body>
		<!-- Nav -->
		<div class="w3-top">
			<div class="w3-row w3-large w3-light-grey">
				<div class="w3-col s2">
					<a href="/player/show/all" class="w3-button w3-block">Players</a>
				</div>
				<div class="w3-col s2">
					<a href="/player/show/scores" class="w3-button w3-block">Scores</a>
				</div>
				<div class="w3-col s2">
					<a href="/song/show/all" class="w3-button w3-block">Songs</a>
				</div>
				<div class="w3-col s3">
					<a href="/extra/restore" class="w3-button w3-block">Restore DB</a>
				</div>
			</div>
		</div>
		<!-- Body -->
		<div class="w3-responsive">
			<div>
				<h1>Songs</h1>
				<p><a th:href="@{/song/add}">Add a new song</a></p>
			</div>
			<div class="column">
				<table class="w3-table-all w3-hovertable w3-center-align w3-middle-align">
					<thead>
						<tr class="w3-light-grey">
							<th>Song</th>
							<th>Singers</th>
							<th>Info</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody th:each="song:${song}">
						<tr>
							<td>
								<p>
									<span><b th:text="${song.name}"></b></span>
								</p>
							</td>
							<td>
								<div>
									<p th:each="singers:${song.singers}">
										<span th:each="singer:${singers}">
											<span th:text="${singer}"></span>
										</span>
									</p>
								</div>
							</td>
							<td>
								<div th:each="details:${song.info}">
									<p th:each="detail:${details}">
										<span th:text="${detail.detail}"></span>: <span th:text="${detail.value}"></span>
									</p>
								</div>
							</td>
							
							<td> <a th:href="@{/song/show(id=${song.id})}" class="btn btn-primary"><img th:src="@{/img/show.png}" th:alt="Show_song_+${song.name}"></a></td>
							<td> <a th:href="@{/song/update(id=${song.id})}" class="btn btn-primary"><img th:src="@{/img/edit.png}" th:alt="Update_song+${song.name}"></a></td>
							<td> <a th:href="@{/song/updatedetail(id=${song.id})}" class="btn btn-primary"><img th:src="@{/img/add.png}" th:alt="Add_detail_song+${song.name}"></a></td>
							<td> <a th:href="@{/song/delete(id=${song.id})}" class="btn btn-primary"><img th:src="@{/img/delete.png}" th:alt ="Delete_song_+${song.name}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
	<footer>
	
	</footer>
</html>