<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title th:text="${title}"></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
		<style>
			table{
				margin-left: auto;
				margin-right: auto;
				text-align: right;
				
			}
			right{
				text-align:right;
			}
			left{
				text-align:left;
			}
		</style>
	</head>
	<body>
		<!-- Nav -->
		<div class="w3-top">
			<div class="w3-row w3-large w3-light-grey">
				<div class="w3-col s2">
					<a href="/player/show/all" class="w3-button w3-block">Players</a>
				</div>
				<div class="w3-col s2">
					<a href="/player/show/scores" class="w3-button w3-block">Scores</a>
				</div>
				<div class="w3-col s2">
					<a href="/song/show/all" class="w3-button w3-block">Songs</a>
				</div>
				<div class="w3-col s3">
					<a href="/extra/restore" class="w3-button w3-block">Restore DB</a>
				</div>
			</div>
		</div>
		<!-- Body -->
		<div class="w3-responsive">
			<div>
				<h1>Song <span th:text="${song.name}"></span></h1>
				<p>Return to <a th:href="@{/song/show/all}">song list</a></p>
			</div>
			<div class="column">
				<p>Id/Name: <span th:text="${song.name}"></span></p>
				<p>Singers: <span th:each="singer:${song.singers}"> <span th:text="${singer}"></span></span></p>
				<p>Information:
					<div th:each="details:${song.info}">
						<p><span th:text="${details.detail}"></span>: <span th:text="${details.value}"></span></p>
					</div>
				</p>
				</table>
			</div>
		</div>
	</body>
	<footer>
	
	</footer>
</html>